<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rxjavademo">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".ShunApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.lambad.rxjavademo.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.rxjavademo.MainActivity"></activity>

        <service
            android:name="com.example.rxjavademo.ShunService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">

            <intent-filter>
                <!--是客户端用于访问AIDL服务的ID  -->
                <action android:name="com.lambad.rxjavademo.IMyService" />
            </intent-filter>
        </service>

        <service android:name="com.example.rxjavademo.DemoService" />

        <activity android:name=".StubActivity"></activity>
        <activity android:name="com.lambad.sideslide.SideSlideActivity"></activity>
    </application>

</manifest>